<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.label_body') %></strong>
  <%= @question.body %>
</p>

<p>
  <strong><%= t('.label_answer') %></strong>
  <%= @question.answer %>
</p>

<%= link_to t('common.link_edit'), edit_question_path(@question) %> |
<%= link_to t('common.link_back'), questions_path %>
