<% if defined?(alert) %>
  <p id="alert"><%= alert %></p>
<% end %>

<p>
  <%= @question.body %>
</p>

<%= form_tag answer_quiz_path(@question), method: :get do %>
  <div class="field">
    <%= label_tag(:answer, t('.label_answer')) %>
    <%= text_field_tag(:answer) %>
  </div>
  <div class="actions">
    <%= submit_tag(t('.button_answer')) %>
  </div>
<% end %>

<br>

<%= link_to t('common.link_back'), quiz_index_path %>
